sampleExport.json
[{"id":"11c470a2.23d17f","type":"thingsboard-input","z":"14c870e4.69144f","deviceTypes":"TestDevice","deviceNamePattern":"Test","thingsboardServer":"754f1522.6f496c","isListenToTelemetry":true,"isListenToAttributes":true,"x":120,"y":60,"wires":[["16ca31f9.36122e","b67bcffb.36c32"]]},{"id":"16ca31f9.36122e","type":"debug","z":"14c870e4.69144f","name":"","active":true,"console":"false","complete":"false","x":570,"y":80,"wires":[]},{"id":"195e6107.47dc2f","type":"thingsboard-output","z":"14c870e4.69144f","isDeviceInfoFromMsg":true,"deviceType":"TestDevice","deviceName":"Test","thingsboardServer":"754f1522.6f496c","isOutputConfigurationFromMsg":false,"isTelemetryUpdate":true,"isAttributeUpdate":false,"isRpcCall":false,"isRpcTwoWayCall":false,"x":690,"y":220,"wires":[]},{"id":"b67bcffb.36c32","type":"function","z":"14c870e4.69144f","name":"SetMqttPayload","func":"if (msg.payload.data !== undefined && msg.payload.data.rssi !== undefined)\n{\n    var prevRssiTs = context.get('prevRssiTs') || 0;\n    \n    if (prevRssiTs < msg.payload.latestValues.rssi)\n    {\n        var val = parseFloat(msg.payload.data.rssi[0][1]);\n        context.set('prevRssiTs', msg.payload.latestValues.rssi);\n        \n        var currentStore = context.get(\"rssi-store\") || [];\n        if (!(currentStore instanceof Array))\n        {\n            currentStore = [];\n        }\n        \n        currentStore.push(val);\n        \n        if (currentStore.length > 1000)\n        {\n            currentStore.shift();\n        }\n        \n        context.set(\"rssi-store\", currentStore);\n        \n        var avg = currentStore.reduce(function(sum, value) {\n           return sum + value; \n        }, 0);\n        avg = avg / currentStore.length;\n        \n        var squareDiffs = currentStore.map(function(value) {\n           var diff = value - avg;\n           var sqrDiff = diff * diff;\n           return diff;\n        });\n        \n        var avgSquareDiff = squareDiffs.reduce(function(sum, value) {\n           return sum + value; \n        }, 0);\n        avgSquareDiff = avgSquareDiff / squareDiffs.length;\n        \n        var std = Math.sqrt(avgSquareDiff);\n        \n        msg.payload = {\n            rssiAvg : avg,\n            rssiStd : std,\n            squareDiffs : squareDiffs\n        }\n        \n        return msg;\n    \n    }\n}\nreturn;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["195e6107.47dc2f","4176ef1f.bdcf9"]]},{"id":"4176ef1f.bdcf9","type":"debug","z":"14c870e4.69144f","name":"","active":true,"console":"false","complete":"false","x":670,"y":360,"wires":[]},{"id":"50225ce0.fde4e4","type":"thingsboard-output","z":"14c870e4.69144f","isDeviceInfoFromMsg":false,"deviceType":"TestDevice","deviceName":"Test","thingsboardServer":"754f1522.6f496c","isOutputConfigurationFromMsg":false,"isTelemetryUpdate":true,"isAttributeUpdate":false,"isRpcCall":false,"isRpcTwoWayCall":false,"x":530,"y":540,"wires":[]},{"id":"e9677f69.6d79a","type":"function","z":"14c870e4.69144f","name":"Generate Random RSSI","func":"msg.payload = {\n    rssi: Math.random()\n}\nreturn msg;","outputs":1,"noerr":0,"x":303,"y":462,"wires":[["50225ce0.fde4e4","b8e31d94.7ef86"]]},{"id":"3c00646a.15538c","type":"inject","z":"14c870e4.69144f","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"x":140,"y":380,"wires":[["e9677f69.6d79a","fcda4ccf.da58"]]},{"id":"b8e31d94.7ef86","type":"debug","z":"14c870e4.69144f","name":"","active":true,"console":"false","complete":"false","x":550,"y":440,"wires":[]},{"id":"fce2951d.caba98","type":"thingsboard-output","z":"14c870e4.69144f","isDeviceInfoFromMsg":false,"deviceType":"TestDevice","deviceName":"Test","thingsboardServer":"754f1522.6f496c","isOutputConfigurationFromMsg":false,"isTelemetryUpdate":false,"isAttributeUpdate":true,"isRpcCall":false,"isRpcTwoWayCall":false,"x":450,"y":600,"wires":[]},{"id":"fcda4ccf.da58","type":"function","z":"14c870e4.69144f","name":"Generate Random RSSI Attribute","func":"msg.payload = {\n    testAttribute: Math.random()\n}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":540,"wires":[["fce2951d.caba98"]]},{"id":"754f1522.6f496c","type":"thingsboard-server","z":"","thingsboardHost":"127.0.0.1","mqttPort":"1883","wsPort":"8080","restPort":"8080","username":"","password":""}]